global
	log		127.0.0.1 local0 warning
	#chroot		/var/lib/haproxy
	#pidfile		/var/run/haproxy.pid
	maxconn		4000
	user		haproxy
	group		haproxy
	ulimit-n	45760
	daemon
	#stats socket /var/lib/haproxy/stats

defaults
	log global
	retries 3
	option tcplog
	option dontlognull
	timeout connect 3000
	timeout server 100000
	timeout client 100000

listen mariadb-cluster
        bind *:3306
        mode tcp

        stats enable
        stats refresh 10s

        option tcplog

        server mariadb-master ${LOCAL}:3313 check
        server mariadb-slave ${REMOTE}:3313 check backup

listen rabbitmq-cluster
	bind *:5673
	mode tcp

        stats enable
        stats refresh 10s

        option tcplog

	server master ${LOCAL}:5672 check
	server backup ${REMOTE}:5672 check backup

frontend stats
    bind *:8080
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth nanoit:admin
